body {
  background-color: pink;
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: antiquewhite;
  height: 10vh;
}

/* Dashboard */
.dashboard {
  background: greenyellow;
  height: 90vh;
}